[submodule "unittest/Catch"]
	path = unittest/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "pybind11"]
	path = python_bindings/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "hidapi"]
	path = hidapi
	url = git@github.com:szszszsz/hidapi.git
